#body{
    background-color: #ffffff;
}
#navbarNav{
    font-family: "Lora", serif;
}
.jumbotron{
    padding-top: 6rem;
    background-color: #b4ceff;
}
.text-justify{
    font-family: "Nunito", sans-serif;
}
.col-8{
    font-family: "DM Serif Display", serif;
}
#about{
    background: linear-gradient(120deg, #6e9ff9, #ffffff) ;
}
#myjourney{
    padding-top: 2rem;
    background-color: #b4ceff;
}
.card-body{
    font-family: "DM Serif Display", serif;
}
.col{
    font-family: "Lora", serif;
}
footer{
    font-family: "DM Serif Display", serif;
}
@media (max-width: 980px) {
    .jumbotron .d-flex {
      flex-direction: column; 
      text-align: center;
    }
    .jumbotron .text-justify {
      margin-top: 20px; 
    }
    .jumbotron img {
      margin-bottom: 20px; 
    }
}
  
 